body {
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

i {
    font-size: 30px;
}

input.form-control {
    width: unset;
}

button:focus {
    outline: none;
}

section {
    margin: 20px 0;
}

button {
    border: none;
}

.absolute-right-up {
    position: absolute;
    right: 5px;
    top: 5px;
}

.image-circleWraper img {
    width: 45px;
}

.image-circleWraper {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.recycleView {
    max-height: 300px;
    overflow-y: scroll;
    gap: 3px;
    background-color: #ECF0F1;
}

.recycleView-bid {
    margin: 30px 0;
}

.auction-description {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.flex-alignSelf-end {
    align-self: flex-end;
}


.auction {
    position: relative;
    border: 1px solid #28A745;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px auto;
    background-color: #ECF0F1;
}

.form-control:focus {
    border-color: #28A745;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 167, 69, 0.6);
}

.gap-3 {
    gap: 3px;
}

.errorlist {
    display: none;
}

.errorspan {
    position: absolute;
    bottom: 6px;
    color: #dc3545;
}

main {
    margin: auto;
    max-width: 1200px;
}

.auction img {
    width: 50%;
    display: block;
    margin: auto;
}