{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for auction in auctions %}
        <div class="auction">
            <a href="listing/{{ auction.id }}">
                <h3>{{ auction.title }}</h3>
            
                {% if auction.img != 'none' %}
                    <div class="auction-img">
                        <img src="{{ auction.img }}" alt="">
                    </div>
                {% endif %}
            
                <div class="auction-description">{{ auction.description }}</div>
                <div class="auction-price">Price: {{ auction.price }}</div>
            </a>
        </div>
    {% endfor %}
{% endblock %}