{% extends "auctions/layout.html" %}

{% block body%}
<main>
<div class="auction-listing">

    {% include 'auctions/components/listingItem.html' %}


    {% if close %}
        {% if winnerBid != None %}
            <div class="winner">🏆Auction is closed and the winner is: {{winnerBid.author }}🏆 </div>
        {% else %}
            <div class="winner notWinner" >❌Auction is closed and nobody wins the auction❌ </div>
        {% endif %}
    {% endif %}

    <h3> Details </h3>
    <section >
        <ul class="list-group">
            <li class="list-group-item">Listed by: {{ auction.author}}</li>
            <li class="list-group-item">category: {{auction.category}}</li>
            <li class="list-group-item">Auction was created: {{ auction.startDate| date:"d-m-Y H:i" }} </li>
            <li class="list-group-item">Auction expire date: {{ auction.endDate| date:" d-m-Y H:i" }}</li>
        </ul>
    </section>

    <h3>History</h3>
    <section class="recycleView">
        <ul>
        {% if not historyBid %}
            <div class="py-2">Nobody bids this auction yet💤</div>
        {% else %}
        {% for bid in historyBid %}            
                <li class="d-flex justify-content-between align-content-center recycleView-bid">
                    <div class="d-flex">
                        <button class="image-circleWraper" >
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsA8Uk6Moi9UCJYLnmIG0e6fJN0kfPZ7ISdA&usqp=CAU=" alt="profile image">
                        </button>
                        {{ bid.author }}
                    </div>
                    <div>
                        {{ bid.price }} PLN 
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        </ul>
    </section>


<h3>Comments</h3>

{% if user.is_authenticated %}
    <form class="d-flex gap-3 align-items-center" action="/listing/comments/{{ auction.id }}" method="post">
        {% csrf_token %}
        {{formComments}}
        <input type="submit" class="btn btn-success">
    </form>
{% endif %}

<section class="recycleView">
    <ul>
    {% if not comments %}
        <div class="py-2">Nobody comment this auction yet💤</div>
    {% else %}
    {% for comment in comments %}            
            <li class="d-flex justify-content-between align-content-center recycleView-bid">
                <div class="d-flex">
                    <button class="image-circleWraper" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsA8Uk6Moi9UCJYLnmIG0e6fJN0kfPZ7ISdA&usqp=CAU=" alt="profile image">
                    </button>
                    <div class="d-flex flex-column">
                        <div>{{ comment.author }}</div>
                        <div>{{ comment.text }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
    
</section>
</div>
</main>
{% endblock%}