{% extends "auctions/layout.html" %}

{% block body%}

<!--for js -->
{{user.id|json_script:"user_id"}}
{{auction.id|json_script:"auction_id"}}
{{auction.author.id|json_script:"auction_author_id"}}

{% if close %}
    {% if winnerBid %}
        <div class="winner">🏆Auction is closed and the winner is: {{winnerBid.author }}🏆</div>
    {% else %}
        <div class="winner" >❌Auction is closed and nobody wins the auction❌</div>
    {% endif %}
{% endif %}

<main>
<div class="auction-listing">

    {% include 'auctions/components/listingItem.html' %}

    <h3> Details </h3>
    <section >
        <ul class="list-group">
            <li class="list-group-item">Listed by: {{ auction.author}}</li>
            <li class="list-group-item">category: {{auction.category}}</li>
            <li class="list-group-item">Auction was created: {{ auction.startDate| date:"d-m-Y H:i" }} </li>
            <li class="list-group-item">Auction expire date: {{ auction.endDate| date:" d-m-Y H:i" }}</li>
        </ul>

    </section>



    <h3>History</h3>
    <section class="recycleView">
        <ul id="recycleView-history">
        {% if not historyBid %}
            <div class="py-2 deleteIfNotEmpty" >Nobody bids this auction yet💤</div>
        {% else %}
        {% for bid in historyBid %}            
                <li class="d-flex justify-content-between align-content-center recycleView-bid">
                    <div class="d-flex">
                        <div class="image-circleWraper" >
                            <img src={{bid.author.img.url}} alt="profile image">
                        </div>
                        {{ bid.author }}
                    </div>
                    <div>
                        {{ bid.price }} PLN 
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        </ul>
    </section>


<h3>Comments</h3>

{% if user.is_authenticated %}
    <form class="d-flex gap-3 align-items-center" action="/listing/comments/{{ auction.id }}" method="post" id="commentForm">
        {% csrf_token %}
        {{formComments}}
        <input type="submit" class="btn btn-success" value="send">
    </form>
{% endif %}

<section class="recycleView">
    <ul id="recycleView-comment">
    {% if not comments %}
        <div class="py-2 deleteIfNotEmpty">Nobody comment this auction yet💤</div>
    {% else %}
    {% for comment in comments %}            
            <li class="d-flex justify-content-between align-content-center recycleView-bid">
                <div class="d-flex">
                    <div class="image-circleWraper" >
                        <img src={{ comment.author.img.url }} alt="profile image">
                    </div>
                    <div class="d-flex flex-column">
                        <div>{{ comment.author }}</div>
                        <div>{{ comment.text }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    {% endif %}
   </ul>
    
</section>
</div>
</main>
{% load static %}

<script src="{% static 'auctions/webSockets.js' %}"></script>
{% endblock%}